[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "site-lisp/bison-mode"]
	path = site-lisp/bison-mode
	url = git@github.com:chrisbarrett/bison-mode.git
